@model BlogSiteFinal.Models.BlogItemsModel
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/details.css">
<div class="row">
    <div class="col-md-12">
        <div class="our_two_box">
            <div class="row d_flex">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    
                        <div class="our_img">
                            <figure><img src="@("~/image/"+Model.ImageName)" asp-append-version="true" alt="#" /></figure>
                        </div>
                    
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="our_text_box">
                        <h1 class="awesome pa_wi"> @Html.DisplayFor(model => model.Title)</h1>
                    </div>
                    <div class="our_text_box">
                        <p> @Html.DisplayFor(model => model.Description)</p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
   
